.navbar {
  background-color: #c7eaf2;
}

.navbar-brand,
.navbar .nav-item a {
  color: rgb(131, 80, 80) !important;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
  cursor: pointer;
}

.card-body:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* @media only screen and (max-width: 320px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.7);
  }
  .nav-link {
    text-transform: uppercase;
  }
  #novel .container .card {
    margin-top: 5px;
  }
  #novel .container .col {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  #novel .container img {
    width: 70px;
    height: 60px;
  }
} */
